{% extends "base.html" %}

{% block title %}CoreQuote | Control inteligente de tu negocio{% endblock %}

{% block content %}
  <section class="card">
    {% if not user.is_authenticated %}
    <h1>Controla tus productos y cotizaciones en un solo lugar</h1>
    <p>
      CoreQuote es la plataforma diseñada para que tu equipo gestione clientes,
      inventario y cotizaciones sin complicaciones. Organiza tus datos, colabora
      en tiempo real y genera propuestas profesionales en minutos.
    </p>
    <p>
      Para empezar a trabajar con tus clientes y productos, inicia sesión con tu
      cuenta. Si aún no tienes acceso, ponte en contacto con el administrador de
      CoreQuote.
    </p>
    
      <a class="primary-action" href="{% url 'login' %}">Iniciar sesión</a>
    {% else %}
    <h1>Bienvenido de nuevo, {{ user.get_full_name|default:user.username }}!</h1>  
    
      <p>Usa el menú de navegación para acceder a las diferentes secciones de la aplicación.</p>
      <p>Si necesitas ayuda, consulta la documentación o contacta al soporte.</p>
      <p>Mas adelante aqui se te mostraran las metricas de tus productos y cotizaciones</p>
    {% endif %}
  </section>
{% endblock %}
